.home-nosotros {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.hn-elem {
    width: 450px;
    height: 400px;
    text-align: center;
    margin: 25px;
    text-align: justify;
}

.hn-elem h1{
    text-align: center;
}
.hn-elem hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

p + h1{
  margin-top: 10px;
}

.tienda{
    margin: 10px auto;
    text-align: center;
    width: 90%;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding: 55px;
}

#hidden:hover > a{ 
    color: black;
    transition: all 2.5s ease;

}