.tienda {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 20px;
    grid-template-areas: "area1 area1 area1 area1""area2 area2 area2 area2""area3 area3 area3 area3""area4 area4 area4 area4""area5 area5 area5 area5""area6 area6 area6 area6""area7 area7 area7 area7""area8 area8 area8 area8";
}

.herramientas-title {
    grid-area: area1;
}

.herramientas {
    grid-area: area2;
}

.plantas-title {
    grid-area: area3;
}

.plantas {
    grid-area: area4;
}

.decoracion-title {
    grid-area: area5;
}

.decoracion {
    grid-area: area6;
}

.muebles-title {
    grid-area: area7;
}

.muebles {
    grid-area: area8;
}

.tienda-flex {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row-reverse;*/
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.tienda-title {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row-reverse;*/
    width: auto;
    height: auto;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

.tienda-elem {
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 5px;
}

.tienda-img {
    padding: 10px 10px 10px 10px;
    width: 160px;
    height: 160px;
    z-index: -1;
}

.tienda-img:hover {
    width: 200px;
    height: 200px;
}

.tienda-p {
    color: black;
}

.tienda-p>b {
    color: #74bfe1;
}